@import 'colors';

html,
body {
    padding: 0;
    margin: 0;
}

.bars {
  fill: $color-primary-2;
  opacity: 0.8;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

$sidebar-width: 10%;
$flattened-bubbles-width: 12%;

#container {
  position: static;
}

#container #sidebar {
  position: absolute;
  width: $sidebar-width;
  height: 100%;
  background: white;
}

#container #content-pane {
  position: absolute;
  left: $sidebar-width;
  width: 100% - $sidebar-width;
  height: 100%;
  background-color: green;
}

#container #content-pane #flattened-bubbles {
  position: absolute;
  left: $sidebar-width;
  width: $flattened-bubbles-width;
  height: 100%
}

#container #content-pane .stats {
  position: absolute;
  left: $flattened-bubbles-width;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: violet;
}

#container #content-pane .stats #timeseries {
  background-color: lightpink;
  height: 35%;
}

#container #content-pane .stats #word-usage {
  background-color: lightgray;
  height: 25%;
}

#container #content-pane .stats #link-bar {
  background-color: lightseagreen;
  height: 25%;
}

#intro {
  top: 0;
  background-color: yellow;
  width: 100%;
  height: 100%;
}
